<html>
<h2>Nami</h2>
<a href="/">main page</a><br>
<a href="/json/hackers">hacker list</a><br>
<a href="/json/hacker?name='name_1'">hacker param</a><br>
<a href="/new">new list</a><br>
<a href="/clear">clear list</a><br>
</html>