{{define "main_page.tmpl" -}}
<html>
<head>
<link href="/assets/css/m.css" rel="stylesheet" type="text/css" media="all" />
<title>Nami</title>
</head>
<body>
<div class="page" id="nami"></div>
{{if .CSRA }}<input type="hidden" id="csra" value="{{ .CSRA }}">{{end}}
<script src="/assets/js/m.js" srt="acc" type="text/javascript"></script>
</body>
</html>
{{- end}}